apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kirro
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/youssef50/claude-flowmaster.git'
    targetRevision: main
    path: k8s
    directory:
      recurse: true
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: kirro
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
