apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kirro-ingress
  namespace: kirro
spec:
  rules:
  - host: kirro.youssef.in
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-svc
            port:
              number: 80
